.channels-panel {
    -ms-overflow-style: none;
    scrollbar-width: none;

    background-color: var(--secondary-background-color);
    box-sizing: border-box;

    border-radius: 10px;

    padding: 10px;
    flex: 0 0 20%;
    width: 20%;

    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: width 1s, padding 1s, flex 1s;
}

#channel-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#channel-list li {
    background-color: var(--foreground-color);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    word-break: break-all;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s;
}

/* TODO -- Hover effect for channels */

#showChannels {
    display: none;
}

@media (max-width: 600px) {
    .channels-panel {
        flex: 0 0 0;
        width: 0;
        padding: 0;
    }

    #showChannels {
        display: block;
    }
}