.messages-panel {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    height: 100%;

    padding: 15px;
    box-sizing: border-box;
}

.messages-header {
    display: flex;
    border-radius: 10px;
    background-color: var(--secondary-background-color);
}

.messages-header h1 {
    flex-grow: 1;
}

.message-input-wrapper {
    display: flex;
    height: 35px;
}

.message-input-wrapper input {
    flex-grow: 1;
    margin-right: 10px;
}

#send-button {
    width: fit-content;
}

#message-list {
    /* TODO -- This can be removed when i add profile pictures */
    margin-left: 60px;

    flex-grow: 1;

    padding: 10px;
    list-style-type: none;

    -ms-overflow-style: none;
    scrollbar-width: none;

    overflow-y: scroll;
}

#message-list p {
    margin-bottom: 5px;
}

#message-list li {
    background-color: var(--foreground-color);

    word-break: break-all;

    width: fit-content;

    padding-inline: 20px;
    padding-block: 10px;
    margin-bottom: 10px;

    border-radius: 10px;
}

#message-list .me {
    background-color: var(--accent-color);
    margin-left: auto;
}